/**************/
/* FONTS */
/**************/


@font-face {
	font-family: "Mabry";
	src: url("../fonts/mabry-light.otf") format("truetype")
}

@font-face {
	font-family: "Mabry Bold";
	src: url("../fonts/mabry-bold-pro.otf") format("truetype")
}

@font-face {
	font-family: "Andellia Davilton";
	src: url(../fonts/Andellia\ Davilton.otf) format("truetype");
}

/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* kleuren */
	--color-text: #666666;
	--color-text-white: #ffffff;
	--color-text-black: #000000;
	--color-text-pink: #eeb8c6;
	--color-text-light-grey: #cecece;

	--color-header: #111;
	--color-tags: #f29eba;
	--color-background: #ffffff;
	--color-background-menu-images: #f8f7f4;
	--color-background-product: #fff6e8;

	--color-header-reclame: #b2596d;
	--color-header-reclame-text: #ffffff;

	--color-underline-link: #b2596d;
	--color-underline-light-grey: #cecece;

	--footer-color: #fff6e8;

	/* fonts */
	--type-font-headers: "Mabry Bold";
	--type-font-regular-text: "Mabry";
	--type-font-special-headers: "Andellia Davilton"
}




/*********************/
/* CUSTOM PROPERTIES darkmode */
/*********************/


@media (prefers-color-scheme:dark) {

	/* customproperties darkmode */
	:root {
		--color-text: #ffffff;
		--color-text-white: #000000;
		--color-text-black: #ffffff;
		--color-text-pink: #8e5161;
		--color-text-light-grey: #383838;
		--color-header: rgb(255, 255, 255);
		--color-tags: #643746;
		--color-background: #2c2c2c;
		--color-background-menu-balk: #bbbbbb;
		--color-background-menu-images: #535353;

		--color-header-reclame: #643746;
		--color-header-reclame-text: #ffffff;

		--color-underline-link: #643746;
		--color-underline-light-grey: #323232;

		--footer-color: #bbbbbb;
	}


	/* images darkmode */
	main img {
		opacity: 70%;
	}

	main section:nth-of-type(5) img {
		box-shadow: 1em 1em 0 var(--color-text-pink);
	}

	main section:nth-of-type(2) img:hover {
		opacity: 100%;
	}
}





/****************/
/* JOUW STYLING */
/****************/
/* vaste styling voor de overall body (hierin vallen de header, main en footer */
body {
	color: var(--color-text);
	background-color: var(--color-background);
	font-family: var(--type-font-regular-text), Helvetica, Arial, sans-serif;
	margin: 0;
}


button,
summary {
	cursor: pointer;
}


img {
	max-width: 100%;
}


a {
	color: var(--color-text-black);
	text-decoration: none;
	text-transform: uppercase;
}


li {
	text-decoration: none;
	list-style: none;
	appearance: none;
}

h1,
h2,
h3 {
	padding: 0;

	color: var(--color-header);
	font-family: var(--type-font-headers);
	text-transform: uppercase;
}


ul,
li {
	padding: 1em;

	font-family: var(--type-font-regular-text);
	color: var(--color-text-regulartext);
	font-size: 1em;
	line-height: 1.8em;
}

p {

	font-family: var(--type-font-regular-text);
	color: var(--color-text-regulartext);
	font-size: 1em;
	line-height: 1.8em
}






/****************/
/* HEADER */
/****************/
header {
	/* gehele header blijft bovenaan plakken, wordt naar voren gehaald door
	z index en de DOM wordt gemanipuleerd door flex direction */
	position: sticky;
	top: 0;
	z-index: 100;

	display: flex;
	flex-direction: column-reverse;

	box-shadow: 0 3px 10px rgb(0 0 0 / .1);
}







/********************/
/* LOGO & MENU"S */
/********************/
header section:nth-of-type(1) {
	/* hier wordt het menu gepositioneerd  */
	font-size: 0.7em;
	z-index: 100;

	padding: .5em;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1em;

	background-color: var(--color-background);
}





/************/
/* HET LOGO */
/************/
header section:nth-of-type(1) a img {
	/* het logo krijgt een hoogte zodat deze niet groter wordt  */
	height: .91em;
}







/**************************/
/* MENU OPENEN/SLUITEN */
/**************************/

header section:nth-of-type(1) button {
	/* button hamburger menu wordt vooraan geplaatst en gestyled */
	order: -1;
	padding: .5em;

	appearance: none;
	background-color: var(--color-background);
	border: none;
	border-radius: .25em;
	font: inherit;

	width: 3.5em;
}

header>nav ul {
	/* de ul uit de nav wordt buiten beeld geplaatst  */
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;

	margin: 0;
	padding: 0;
	list-style: none;

	display: flex;
	flex-direction: column;
	gap: 1em;

	background-color: var(--color-background-menu-images);
	text-transform: uppercase;

	transform: translateY(-100%);
	transition: 1s;
}

header section:nth-of-type(1) nav ul li {
	/* de breedte van de li wordt gestyled */
	width: 3.5em;
}

header>nav.menuGeopend ul {
	/* wanneer er op menuGeopend geklikt wordt opend het menu zichtbaar */
	transform: translateY(0%);
}

header section:nth-of-type(1) nav ul {
	/* het service menu - aan de rechterkant */
	margin: 0;
	padding: 0;
	list-style: none;

	display: flex;
	align-items: center;
}






/***********************/
/* SECTION 2 = RECLAME */
/***********************/

header section:nth-of-type(2) {
	/* boven het menu plaatsen dmv dom manipulatie*/
	position: relative;
	z-index: 100;
}

header section:nth-of-type(2) button {
	/* styling voor de buttons in het section < > */
	padding: 0 2em;

	font: inherit;
	color: var(--color-text-white);
	text-align: center;

	background-color: var(--color-header-reclame);

	appearance: none;
	border: none;
	border-radius: .25em;
}


header section:nth-of-type(2) {
	/* styling voor de text in het reclame element */
	padding: 0px 4em;

	font-size: 0.7em;
	color: var(--color-header-reclame-text);
	background-color: var(--color-header-reclame);
	text-transform: uppercase;

	display: flex;
	justify-content: space-around;
}

header section:nth-of-type(2) ul {
	/* flex (row) maken anders komt het onder elkaar in een column */
	padding: 0em 1em;

	font-size: .9em;
	list-style: none;

	display: flex;
	gap: 10em;
}





/********************/
/********************/
/********************/
/******  MAIN  ******/
/********************/
/********************/
/********************/



/********************/
/* MAIN SECTION 1 = CAROUSEL */
/********************/


/* Carousel - BRON: Kyle Cook | youtube: 
https://www.youtube.com/watch?v=9HcxHDS2w1s&ab_channel=WebDevSimplified */

main section:nth-of-type(1) .carousel {
	/* gehele div krijgt een position relative en de 
	breedte en hoogte wordt vastgezet */
	position: relative;

	width: 100vw;
	height: 40vh;
}

main section:nth-of-type(1) .slide {
	/* de slideshow en overgang, flex omdat de container dan op
	zijn plek blijft en niet over de andere tekst heen valt. 
	Inset op 0 ipv T/B/R/L*/
	padding: 0;

	position: absolute;
	display: flex;

	inset: 0;

	opacity: 0;
	transition: 200ms opacity ease-in-out;
	transition-delay: 200ms;
}

main section:nth-of-type(1) .slide>img {
	/* zorgt er voor dat de img niet uitrekt en helemaal bovenin 
	blijft zitten */
	flex-grow: 1;
	object-fit: contain;

	inset: 0;

	background-color: var(--color-background-product);
}

main section:nth-of-type(1) .slide[data-active] {
	/* wanneer de data-actief is verander de opacity naar 1 */
	opacity: 1;
}

main section:nth-of-type(1) .carousel button {
	/* postioneren van de buttons */
	position: absolute;
	border: none;

	font-size: 2em;
	color: var(--color-text-pink);

	top: 50%;
	z-index: 80;
	transform: translateY(-50%);
	border-radius: .25em;
	padding: 0 .2em;
	background: none;
}

main section:nth-of-type(1) button:nth-of-type(1) {
	/* positionering buttons op IMG */
	left: 1em;
}

main section:nth-of-type(1) button:nth-of-type(2) {
	/* positioneren buttons op IMG */
	right: 1em;
}

main section:nth-of-type(1) button:hover,
button:active,
button:focus {
	/* styling voor de button in verschillende states. */
	color: var(--color-underline-link);
}

main section:nth-of-type(1) button:active,
button:focus {
	/* styling voor de button in verschillende states. */
	outline: 1px solid var(--color-underline-link);
}

main section:nth-of-type(1) a {
	/* styling voor de HOME link onder de IMG's */
	padding: 0 em;
	margin-left: 1em;
	color: var(--color-text);
	font-size: .8em;
}

main section:nth-of-type(1) a:hover,
a:active,
a:focus {
	/* styling voor de A in verschillende states. */
	color: var(--color-underline-link);
}

main section:nth-of-type(1) a:active,
a:focus {
	/* styling voor de A in verschillende states. */
	outline: 1px solid var(--color-underline-link);
}


/********************/
/* MAIN SECTION 2 / Materialen & Maten  */
/********************/

main section:nth-of-type(2) {
	/* section in een flex column zodat 
	alles netjes onder elkaar komt en padding zodat alles overal gelijk valt*/
	padding: 1.5em;

	display: flex;
	flex-direction: column;
}

main section:nth-of-type(2) h1 {
	/* wat ruimte onder de h1 Birthstone Bracelet */
	margin-bottom: 1em;
}

main section:nth-of-type(2)>p:nth-of-type(1) {
	/* styling voor het prijs element (p) */
	margin-bottom: 1em;

	font-family: var(--type-font-regular-text);
	font-size: 1.3em;
}

main section:nth-of-type(2) label {
	/* styling voor het label Materiaal & Maat */
	margin-bottom: .2em;

	font-family: var(--type-font-headers);
	font-size: .8em;
	color: var(--color-text-black);
	text-transform: uppercase;
}

main section:nth-of-type(2) select {
	/* styling voor het select veld (kies een optie..) */
	padding: 1em;
	margin-bottom: 1.5em;

	font-family: var(--type-font-regular-text);
	font-size: 1em;
	color: var(--color-text-light-grey);

	align-self: center;
	justify-content: space-around;

	width: 100%;
	border-color: var(--color-text-light-grey);
}

main section:nth-of-type(2)>button {
	/* styling voor de "Choose your options button" */
	margin-bottom: 1em;
	padding: 2em;

	border: none;

	text-align: center;
	font-family: var(--type-font-headers);
	font-size: .8em;
	color: var(--color-text-white);
	text-transform: uppercase;

	background-color: var(--color-header);
}

main section:nth-of-type(2)>button:hover {
	/* styling voor de button bij hover state */
	color: var(--color-text-black);
	background-color: var(--color-header-reclame);
}

main section:nth-of-type(2) p {
	/* styling voor alle P's binnen de eerste sections  */
	padding: 0;
	margin-bottom: 1em;
}

main section:nth-of-type(2)>p:nth-of-type(2) {
	padding-bottom: 2em;
}

main section:nth-of-type(2)>ul {
	/* display flex omdat deze content in een row moet staan */
	margin-bottom: 5em;
	display: flex;
	justify-content: space-around;
	font-size: .8em;

	border-top: 1px solid var(--color-underline-light-grey);
	border-bottom: 1px solid var(--color-underline-light-grey);
}

main section:nth-of-type(2) ul li button {
	/* styling voor de buttons */
	border: none;
	background: none;

	font-family: var(--type-font-regular-text);
	text-transform: uppercase;
}

main section:nth-of-type(2) ul li button:hover {
	/* styling voor de hover */
	border: none;
	background: none;
	text-transform: uppercase;
	color: var(--color-header-reclame);
}

main section:nth-of-type(2) ul li>button:before {
	/* de heart IMG toevoegen aan op verlanglijstje en stuur een hint
	BRON: https://stackoverflow.com/questions/8977957/can-i-change-the-height-of-an-image-in-css-before-after-pseudo-elements */
	content: "";
	background-image: url("../images/heartlikebutton.png");
	background-size: 100% 100%;
	display: inline-block;

	height: 1em;
	width: 1em;

	position: relative;
	top: 1px;
	right: 10px;
}

main section:nth-of-type(2) details summary {
	/* styling voor de details zodat de underline op de juist positie komt */
	padding-bottom: 1em;
	margin-bottom: 2em;
	border-bottom: 1px solid var(--color-underline-light-grey);

	position: relative;

	font-family: var(--type-font-regular-text);
	color: var(--color-text-black);
	letter-spacing: .2em;
	font-size: .8em;
	text-transform: uppercase;
	list-style: none;
}

main section:nth-of-type(2) details summary:after {
	/* zodat het +je achter de tekst komt te staan voor het openklappen */
	content: "+";

	position: absolute;
	right: 0%;

	font-size: 1.5em;
}

main section:nth-of-type(2) details:nth-of-type(3) li {
	/* styling opsomming laatste details */
	padding-top: 0;

	list-style: circle;
	line-height: 1em;
}







/********************/
/* MAIN SECTION 3 / CAROUSEL - gerelateerde producten  */
/********************/

main section:nth-of-type(3) {
	/* positioneren van de section */
	padding: 1.5em;
	padding-bottom: 0;
}

main section:nth-of-type(2) li a p:nth-of-type(1) {
	/* basis styling */
	text-transform: uppercase;
	font-size: 1.5em;
	padding: 1.5em 1.2em;
}

main section:nth-of-type(3) ul {
	/* flexen van de UL zodat het netjes naast elkaar 
	komt en het scrolbaar wordt en niet de hele pagina uitrekt*/
	display: flex;
	overflow-x: auto;
}

main section:nth-of-type(3) ul li {
	/* zorgen dat de A's de juiste grootte krijgen */
	flex-shrink: 0;
	flex-basis: 70%;
}

main section:nth-of-type(3) li a {
	/* een grid maken van de A's zodat we elementen kunnen verplaatsen */
	display: grid;
	grid-template-rows: 2fr min-content min-content;
}

main section:nth-of-type(3) a h3 {
	/* het juist positioneren van de h3's (naam van producten) */
	padding: 0;
	margin: 1em 0em 0em;

	font-family: var(--type-font-headers);
	font-size: .9em;
	color: var(--color-text-black);
	text-transform: none;

	grid-row-start: 2;
	grid-column-start: 1;
	z-index: 90;

	justify-content: start;
	align-self: top;
}

main section:nth-of-type(3) li a p:nth-of-type(1) {
	/* het juist positioneren van de eerst P's (TAG new/populair etc) */
	margin: 1em;
	padding: .3em 1em;

	font-family: var(--type-font-headers);
	font-size: .7em;
	text-transform: uppercase;
	color: var(--color-text-black);

	background-color: var(--color-tags);
	border-radius: 1.2em;

	grid-row-start: 1;
	grid-column-start: 1;
	z-index: 90;

	justify-self: start;
	align-self: start;
}

main section:nth-of-type(3) li a p:nth-of-type(2) {
	/* het juist positioneren van de eerst P's (prijs item) */
	padding: 0;

	font-size: .9em;
	text-transform: none;
	color: var(--color-text-black);

	grid-row-start: 3;
	grid-column-start: 1;
	z-index: 90;
}

main section:nth-of-type(3) li a img {
	/* het juist positioneren van de IMG en uitstretchen over het grid 
	maar wel de juiste afmetingen behouden van origineel */
	width: 100%;
	height: 100%;

	background-color: var(--color-background-menu-images);

	object-fit: contain;
	object-position: center top;

	grid-area: 1/1/2/2;
	align-self: stretch;
}




/*********************/
/*  SECTION 4 - 6
LINK UNDERLINE - BRON SANNE
/*********************/

main section:nth-child(n+4) a {
	position: relative;
	width: fit-content;

	font-size: .8em;
	font-family: var(--type-font-headers);
	color: var(--color-text-black);
	letter-spacing: .1em;
}

main section:nth-child(n+4) a:before {
	content: "";
	position: absolute;

	top: 1.5em;
	left: 0;
	right: 0;
	bottom: 0;

	height: .25em;

	background-color: var(--color-underline-link);
	border-radius: .125em;

	transform-origin: right;
	transform: scalex(0);
	transition: transform .3s;
}

main section:nth-child(n+4) a:visited {
	color: var(--color-text-black);
}

main section:nth-child(n+4) a:focus-visible {
	background: var(--color-underline-link);
}

main section:nth-child(n+4) a:hover::before {
	transform-origin: left;
	transform: scalex(1);
}

main section:nth-child(n+4) a:active {
	color: var(--color-header);
}








/********************/
/* MAIN SECTIONs 4 t/m 6  / BASIS opmaak  */
/********************/

main section:nth-child(n+4) {
	/* basis padding toevoegen zodat het netjes staat */
	padding: 1.5em;
	padding-top: 2em;
	padding-bottom: 3em;
}

main section:nth-child(n+4) h2 {
	/* basis padding toevoegen voor de koppen zodat het netjes staat */
	padding-bottom: .6em;
	font-size: 1.4em;
}

main section:nth-child(n+4) p {
	/* basis padding toevoegen zodat de link niet te dicht op de tekst komt */
	padding-bottom: 1em;
}








/********************/
/* MAIN SECTIONs 7  / opmaak
/********************/


main section:nth-of-type(7) {
	/* text in het midden en een border aan de bovenkant */
	text-align: center;
	border-top: 1px solid var(--color-underline-light-grey);
	padding-bottom: 1.5em;
	padding-top: 3em;
}

main section:nth-of-type(7) h2 {
	/* h2 netjes */
	padding: 0;
	padding-bottom: .5em;
}





/****************/
/* FOOTER */
/****************/

footer {
	/* achtergrond kleur footer */
	background-color: var(--footer-color);
}

footer section {
	/* tekst iets van de kant in zijn geheel */
	padding-left: 1.5em;

}

footer section h3 {
	/* letters wat meer uit elkaar van de h3 */
	padding: 0;
	padding-top: 1em;

	font-size: 1.15em;
	letter-spacing: 1px;
}

footer section ul {
	/* de overige tekstblokken wat ruimte geven aan de onderkant */
	padding: 0;
	padding-bottom: 3em;
}

footer section li {
	/* de losse tekst elementen wat ruimte tussen de regels geven  */
	padding: 0;

	line-height: 2em;
	font-size: 1em;
}

footer section li a {
	/* terug naar lowercase letters */
	text-transform: none;
}





/* Vanaf hier wordt het formulier gestyled section 4 */

footer section:nth-of-type(4) ul {
	/* flexen van het inputveld */
	display: flex;
	justify-content: center;
}


footer section:nth-of-type(4) form input {
	/* stylen van het input veld */
	padding: 1em;
	padding-right: 6em;

	font-family: var(--type-font-regular-text);
	color: var(--color-text-light-grey);

	border-color: 1px solid var(--color-underline-light-grey);
	border-style: none;

	background: white;
}

footer section:nth-of-type(4) li {
	/* positioneren van de 'childrens' zodat ze tegen elkaar aankomen */
	padding-left: 0;
	margin-top: 1em;
}

footer section:nth-of-type(4) li button {
	/* styling button inschrijven */
	padding: 1em;
	margin-bottom: 1em;

	text-transform: uppercase;
	font-family: var(--type-font-headers);
	font-size: .8em;
	color: var(--color-text-white);

	border-style: none;
	background-color: var(--color-header);
}

footer section:nth-of-type(4) li button:hover {
	/* styling voor het hoveren van de butteon */
	color: var(--color-text-black);
	background-color: var(--color-header-reclame);
}