/**************/
/* FONTS */
/**************/


@font-face {
	font-family: "Mabry";
	src: url("../fonts/mabry-light.otf") format("truetype")
}

@font-face {
	font-family: "Mabry Bold";
	src: url("../fonts/mabry-bold-pro.otf") format("truetype")
}

@font-face {
	font-family: "Andellia Davilton";
	src: url(../fonts/Andellia\ Davilton.otf) format("truetype");
}

/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* kleuren */
	--color-text: #666666;
	--color-text-white: #ffffff;
	--color-text-black: #000000;
	--color-text-pink: #eeb8c6;
	--color-text-light-grey: #cecece;
	--color-header: #111;
	--color-tags: #f29eba;
	--color-background: #ffffff;
	--color-background-menu-balk: #ffffff;
	--color-background-menu-images: #f8f7f4;

	--color-header-reclame: #b2596d;
	--color-header-reclame-text: #ffffff;

	--color-underline-link: #b2596d;
	--color-underline-light-grey: #cecece;

	--footer-color: #fff6e8;

	/* fonts */
	--type-font-headers: "Mabry Bold";
	--type-font-regular-text: "Mabry";
	--type-font-special-headers: "Andellia Davilton"
}






/*********************/
/* CUSTOM PROPERTIES darkmode */
/*********************/

/* customproperties darkmode */
@media (prefers-color-scheme:dark) {
	:root {
		--color-text: #ffffff;
		--color-text-white: #000000;
		--color-text-black: #ffffff;
		--color-text-pink: #8e5161;
		--color-text-light-grey: #383838;
		--color-header: rgb(255, 255, 255);
		--color-tags: #643746;
		--color-background: #2c2c2c;
		--color-background-menu-balk: #bbbbbb;
		--color-background-menu-images: #535353;

		--color-header-reclame: #643746;
		--color-header-reclame-text: #ffffff;

		--color-underline-link: #643746;
		--color-underline-light-grey: #323232;

		--footer-color: #bbbbbb;
	}

	/* images darkmode */

	main img {
		opacity: 70%;
	}

	main section:nth-of-type(5) img {
		box-shadow: 1em 1em 0 var(--color-text-pink);
	}

	main section:nth-of-type(2) img:hover {
		opacity: 100%;
	}

}




/****************/
/* JOUW STYLING */
/****************/
/* vaste styling voor de overall body (hierin vallen de header, main en footer */
body {
	color: var(--color-text);
	background-color: var(--color-background);
	font-family: var(--type-font-regular-text), Helvetica, Arial, sans-serif;
}


button,
summary {
	cursor: pointer;
}


img {
	max-width: 100%;
}


a {
	color: var(--color-text-black);
	text-decoration: none;
	text-transform: uppercase;
}


li {
	text-decoration: none;
	list-style: none;
	appearance: none;
}

h2,
h3 {
	padding: 1em;

	color: var(--color-header);
	font-family: var(--type-font-headers);
	font-size: 1.4em;
	text-transform: uppercase;
}

p,
ul,
li {
	padding: 1em;

	font-family: var(--type-font-regular-text);
	color: var(--color-text-regulartext);
	font-size: 1em;
	line-height: 1.8em;
}



/********************/
/********************/
/********************/
/****** HEADER ******/
/********************/
/********************/
/********************/

header {
	/* gehele header blijft bovenaan plakken, wordt naar voren gehaald door
	z index en de DOM wordt gemanipuleerd door flex direction */
	position: sticky;
	top: 0;
	z-index: 100;

	display: flex;
	flex-direction: column-reverse;

	box-shadow: 0 3px 10px rgb(0 0 0 / .1);

}




/********************/
/* LOGO & DE MENU"S */
/********************/
header section:nth-of-type(1) {
	/* hier wordt het menu gepositioneerd  */
	font-size: 0.7em;
	z-index: 100;

	padding: .5em;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
	align-items: center;

	background-color: var(--color-background-menu-balk);
}




/************/
/* HET LOGO */
/************/

header section:nth-of-type(1) h1 img {
	/* het logo krijgt een hoogte zodat deze niet groter wordt  */
	height: .6em;
}




/**************************/
/* MENU OPENEN/SLUITEN */
/**************************/

/* de button */
header section:nth-of-type(1) button {
	/* button hamburger menu wordt vooraan geplaatst en gestyled */
	order: -1;

	padding: .5em;

	appearance: none;
	background-color: var(--color-background-menu-balk);
	border: none;
	border-radius: .25em;
	font: inherit;

	width: 3.5em;
}

header>nav ul {
	/* de ul uit de nav wordt buiten beeld geplaatst  */
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;

	margin: 0;
	padding: 0;
	list-style: none;

	display: flex;
	flex-direction: column;
	gap: 1em;

	background-color: var(--color-background-menu-images);
	text-transform: uppercase;

	transform: translateY(-100%);
	transition: 1s;
}

header section:nth-of-type(1) nav ul li {
	/* de breedte van de li wordt gestyled */
	width: 3.5em;
}

header>nav.menuGeopend ul {
	/* wanneer er op menuGeopend geklikt wordt opend het menu zichtbaar */
	transform: translateY(0%);
}

header section:nth-of-type(1) nav ul {
	/* het service menu - aan de rechterkant */
	margin: 0;
	padding: 0;
	list-style: none;

	display: flex;
	align-items: center;
}






/***********************/
/* SECTION 2 = RECLAME */
/***********************/

header section:nth-of-type(2) {
	/* boven het menu plaatsen dmv dom manipulatie*/
	position: relative;
	z-index: 100;
}


header section:nth-of-type(2) button {
	/* styling voor de buttons in het section < > */
	padding: 0 2em;

	font: inherit;
	color: var(--color-text-white);
	text-align: center;

	background-color: var(--color-header-reclame);

	appearance: none;
	border: none;
	border-radius: .25em;
}


header section:nth-of-type(2) {
	/* styling voor de text in het reclame element */
	padding: 0px 4em;

	font-size: 0.7em;
	color: var(--color-header-reclame-text);
	background-color: var(--color-header-reclame);
	text-transform: uppercase;

	display: flex;
	justify-content: space-around;
}

header section:nth-of-type(2) ul {
	/* flex (row) maken anders komt het onder elkaar in een column */
	padding: 0em 1em;

	font-size: .9em;
	list-style: none;

	display: flex;
	gap: 10em;
}





/********************/
/********************/
/********************/
/******  MAIN  ******/
/********************/
/********************/
/********************/


/*********************/
/* MAIN SECTION 1 = NEW */
/*********************/

main section:nth-of-type(1) {
	/* grid gemaakt om elementen over elkaar te plaatsen */
	display: grid;
	grid-template-rows: 1fr 5em;
}

main section:nth-of-type(1) h2 {
	/* correct positioneren van de h2 */
	padding: 0em;

	font-family: var(--type-font-special-headers);
	text-transform: none;
	font-weight: lighter;
	font-size: 3em;
	opacity: .8;

	grid-row-start: 1;
	grid-column-start: 1;

	align-self: end;
	justify-self: center;
	text-align: center;

	z-index: 90;
}

main section:nth-of-type(1) img {
	/* correct positioneren van de img (over gehele grid) */
	grid-area: 1/1/3/2;
}

main section:nth-of-type(1) a {
	/* correct positioneren en stylen van de SHOP NU link */
	padding: .4em 1em .4em;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);

	font-family: var(--type-font-headers);
	color: var(--color-text-black);
	text-transform: uppercase;
	font-size: .8em;
	background-color: var(--color-background);

	place-self: center;

	grid-row-start: 2;
	grid-column-start: 1;
}





/*********************/
/* SECTION 2 = BESTSELLERS */
/*********************/

main section:nth-of-type(2) {
	/* positioneren van de section */
	margin: 0em 0 3em;
}

main section:nth-of-type(2) li a p:nth-of-type(1) {
	/* basis styling */
	text-transform: uppercase;
	font-size: 1.5em;
	padding: 1.5em 1.2em;
}


main section:nth-of-type(2) ul {
	/* flexen van de UL zodat het netjes naast elkaar 
	komt en het scrolbaar wordt en niet de hele pagina uitrekt*/
	display: flex;
	overflow-x: auto;
}

main section:nth-of-type(2) ul li {
	/* zorgen dat de A's de juiste grootte krijgen */
	flex-shrink: 0;
	flex-basis: 70%;
}

main section:nth-of-type(2) li a {
	/* een grid maken van de A's zodat we elementen kunnen verplaatsen */
	display: grid;
	grid-template-rows: 2fr min-content min-content;
}


main section:nth-of-type(2) a h3 {
	/* het juist positioneren van de h3's (naam van producten) */
	padding: 0;
	margin: 1em 0em 0em;

	font-family: var(--type-font-headers);
	font-size: .9em;
	color: var(--color-text-black);
	text-transform: none;

	grid-row-start: 2;
	grid-column-start: 1;
	z-index: 90;

	justify-content: start;
	align-self: top;
}


main section:nth-of-type(2) li a p:nth-of-type(1) {
	/* het juist positioneren van de eerst P's (TAG new/populair etc) */
	margin: 1em;
	padding: .3em 1em;

	font-family: var(--type-font-headers);
	font-size: .7em;
	text-transform: uppercase;
	color: var(--color-text-black);

	background-color: var(--color-tags);
	border-radius: 1.2em;

	grid-row-start: 1;
	grid-column-start: 1;
	z-index: 90;

	justify-self: start;
	align-self: start;
}


main section:nth-of-type(2) li a p:nth-of-type(2) {
	/* het juist positioneren van de eerst P's (prijs item) */
	padding: 0;

	font-size: .9em;
	text-transform: none;
	color: var(--color-text-black);

	grid-row-start: 3;
	grid-column-start: 1;
	z-index: 90;
}

main section:nth-of-type(2) li a img {
	/* het juist positioneren van de IMG en uitstretchen over het grid 
	maar wel de juiste afmetingen behouden van origineel */
	width: 100%;
	height: 100%;

	background-color: var(--color-background-menu-images);

	object-fit: contain;
	object-position: center top;

	grid-area: 1/1/2/2;
	align-self: stretch;
}


/*********************/
/*  SECTION 3 - 7
LINK UNDERLINE - BRON SANNE
/*********************/

main section:nth-child(n+3) a {
	position: relative;
	width: fit-content;

	font-size: .8em;
	font-family: var(--type-font-headers);
	letter-spacing: .1em;
}

main section:nth-child(n+3) a::before {
	content: "";
	position: absolute;

	left: 0;
	right: 0;
	bottom: .6em;

	height: .25em;

	background-color: var(--color-underline-link);
	border-radius: .125em;

	transform-origin: right;
	transform: scalex(0);
	transition: transform .3s;
}

main section:nth-child(n+3) a:visited {
	color: var(--color-text-black);
}

main section:nth-child(n+3) a:focus-visible {
	background: var(--color-underline-link);
}

main section:nth-child(n+3) a:hover::before {
	transform-origin: left;
	transform: scalex(1);
}

main section:nth-child(n+3) a:active {
	color: var(--color-header);
}





/*********************/
/*  SECTION 3 t/m 5 basis flex styling
/*********************/

/* ik was nog benieuwd of hier een verkorte versie van is waarbij je met 
 1 selector drie verschillende secties kan selecteren (3 t/m 5) of dat dit dan
 de enige optie is.  */

main section:nth-of-type(3),
main section:nth-of-type(4),
main section:nth-of-type(5) {
	display: flex;
	flex-direction: column;
}

main section:nth-child(3) img,
main section:nth-child(4) img,
main section:nth-child(5) img {
	order: -1;
}





/*********************/
/*  SECTION 3 = ONS VERHAAL */
/*********************/

main section:nth-of-type(3) h2 {
	/* basis styling H2 */
	font-size: 1.9em;
	line-height: 1em;
}

main section:nth-of-type(3) p:nth-of-type(1) {
	/* basis positie P */
	padding: 0 1.8em 0;
	margin: 0 0 1.5em;
}

main section:nth-child(3) a {
	/* basis positie A -> regel 527 staat de styling */
	padding: 0;
	padding-bottom: 1em;
	margin-left: 2.1em;
	margin-bottom: 7em;
}





/*********************/
/* SECTION 4 = VOOR HEM  */
/*********************/

main section:nth-of-type(4) {
	/* uitlijnen van de text in het midden  */
	text-align: center;
}

main section:nth-of-type(4) h2,
p {
	/* padding zodat de tekst dichter op elkaar valt */
	padding: 0em 4em 2em;
}

main section:nth-of-type(4) h2 {
	/* H2 op juiste positie krijgen  */
	padding-top: 1.5em;
	padding-bottom: 1.5em;

	font-size: 1.6em;
}

main section:nth-child(4) a {
	/* basis positie A -> regel 527 staat de styling */
	padding: 0;
	padding-bottom: 1em;
	margin-bottom: 7em;
	margin-left: 40%;
}






/*********************/
/* SECTION 5 = KIDS  */
/*********************/

main section:nth-of-type(5) h2 {
	/* h2 stylen en positioneren */
	padding: 1.2em 0.7em 0em;

	font-family: var(--type-font-special-headers);
	font-size: 2.5em;
	font-weight: 100;
	text-transform: none;
	color: var(--color-text-pink);
}

main section:nth-of-type(5) p:nth-of-type(1) {
	/* tekst juiste plek uitlijnen dmv padding */
	padding: 1.8em;
	padding-right: 11em;
}

main section:nth-of-type(5) a {
	/* basis positie A -> regel 527 staat de styling */
	padding: 0;
	padding-bottom: 1em;
	margin-left: 2.1em;
	margin-bottom: 10em;
}

main section:nth-of-type(5) img {
	/* image correct positioneren en een 'harde" schaduw toevoegen
	want vind ik leuk staan */
	margin: 0em 4em 0em;
	max-width: 60%;

	box-shadow: 1em 1em 0 var(--color-underline-link);
}






/*********************/
/* SECTION 6 = INSTAGRAM */
/*********************/
main section:nth-of-type(6) h2 {
	/* positioneren header instagram */
	text-align: center;
}

main section:nth-of-type(6) p {
	/* text centrereren van de P incl. de link */
	text-align: center;
}

main section:nth-of-type(6) p a {
	/* styling van de link in de P */
	border-bottom: .2em solid var(--color-underline-link);

	color: var(--color-text-black);
	font-size: .8em;
	font-family: var(--type-font-headers);
	letter-spacing: .1em;
}

main section:nth-of-type(6) p a:hover {
	/* met hover veranderd de kleur - 
	overige styling vind je terug op regel 527 */
	border-bottom: .2em solid var(--color-tags);
}

main section:nth-of-type(6) ul {
	/* de container van de LI (img) flexen zodat het naast
	elkaar komt te staan */
	display: flex;
	justify-content: space-between;
	overflow-x: auto;
}

main section:nth-of-type(6) ul li {
	/* zorgen dat de afbeeldingen het juiste formaat krijgen.  */
	flex-shrink: 0;
	flex-basis: 70%;
}






/*********************/
/* SECTION 7 = HANDGEMAAKTE SIERADEN */
/*********************/
main section:nth-of-type(7) {
	/* text in het midden en een border aan de bovenkant */
	text-align: center;
	border-top: 1px solid var(--color-underline-light-grey);
	padding-bottom: 1.5em;
	padding-top: 3em;
}

main section:nth-of-type(7) h2 {
	/* h2 netjes */
	padding: 0;
	padding-bottom: .5em;
}





/****************/
/* FOOTER */
/****************/

footer {
	/* achtergrond kleur footer */
	background-color: var(--footer-color);
}

footer section {
	/* tekst iets van de kant in zijn geheel */
	padding-left: 1.5em;

}

footer section h3 {
	/* letters wat meer uit elkaar van de h3 */
	padding: 0;
	padding-top: 1em;

	font-size: 1.15em;
	letter-spacing: 1px;
}

footer section ul {
	/* de overige tekstblokken wat ruimte geven aan de onderkant */
	padding: 0;
	padding-bottom: 3em;
}

footer section li {
	/* de losse tekst elementen wat ruimte tussen de regels geven  */
	padding: 0;

	line-height: 2em;
	font-size: 1em;
}

footer section li a {
	/* terug naar lowercase letters */
	text-transform: none;
}






/* Vanaf hier wordt het formulier gestyled section 4 */

footer section:nth-of-type(4) p {
	padding: 0;
}

footer section:nth-of-type(4) ul {
	/* flexen van het inputveld */
	display: flex;
	justify-content: center;
}


footer section:nth-of-type(4) form input {
	/* stylen van het input veld */
	padding: 1em;
	padding-right: 6em;

	font-family: var(--type-font-regular-text);
	color: var(--color-text-light-grey);

	border-color: 1px solid var(--color-underline-light-grey);
	border-style: none;

	background: white;
}

footer section:nth-of-type(4) li {
	/* positioneren van de 'childrens' zodat ze tegen elkaar aankomen */
	padding-left: 0;
	margin-top: 1em;
}

footer section:nth-of-type(4) li button {
	/* styling button inschrijven */
	padding: 1em;
	margin-bottom: 1em;

	text-transform: uppercase;
	font-family: var(--type-font-headers);
	font-size: .8em;
	color: var(--color-text-white);

	border-style: none;
	background-color: var(--color-header);
}

footer section:nth-of-type(4) li button:hover {
	/* styling voor het hoveren van de butteon */
	color: var(--color-text-black);
	background-color: var(--color-header-reclame);
}