/**************/
/* FONTS */
/**************/


@font-face {
	font-family: "Mabry";
	src: url("../fonts/mabry-light.otf") format("truetype")
}

@font-face {
	font-family: "Mabry Bold";
	src: url("../fonts/mabry-bold-pro.otf") format("truetype")
}

@font-face {
	font-family: "Andellia Davilton";
	src: url(../fonts/Andellia\ Davilton.otf) format("truetype");
}

/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* kleuren */
	--color-text: #666666;
	--color-text-white: #ffffff;
	--color-text-black: #000000;
	--color-text-pink: #eeb8c6;
	--color-header: #111;
	--color-tags: #f29eba;
	--color-background: #ffffff;
	--color-background-menu-images: #f8f7f4;

	--color-header-reclame: #b2596d;
	--color-header-reclame-text: #ffffff;

	--color-underline-link: #b2596d;

	/* fonts */
	--type-font-headers: "Mabry Bold";
	--type-font-regular-text: "Mabry";
	--type-font-special-headers: "Andellia Davilton"
}





/****************/
/* JOUW STYLING */
/****************/

body {
	color: var(--color-text);
	background-color: var(--color-background);
	font-family: var(--type-font-regular-text), Helvetica, Arial, sans-serif;
}


button,
summary {
	cursor: pointer;
}


img {
	max-width: 100%;
}


a {
	color: var(--color-text-black);
	text-decoration: none;
	text-transform: uppercase;
}


li {
	text-decoration: none;
	list-style: none;
	appearance: none;
}

h2,
h3 {
	padding: 1em;

	color: var(--color-header);
	font-family: var(--type-font-headers);
	text-transform: uppercase;
}

p,
ul,
li {
	padding: 1em;

	font-family: var(--type-font-regular-text);
	color: var(--color-text-regulartext);
	font-size: 1em;
	line-height: 1.8em;
}




/****************/
/* HEADER */
/****************/

header {
	/* om de schuivende nav binnen de header te kunnen positioneren */
	/* position: relative; - wordt overschreven door sticky */
	position: sticky;
	top: 0;
	z-index: 100;

	/* min-height: 4em; - niet nodig*/

	display: flex;
	flex-direction: column-reverse;

	box-shadow: 0 3px 10px rgb(0 0 0 / .1);
	/* hier beter */
}




/********************/
/* LOGO & DE MENU"S */
/********************/

/* de container van de 2e nav en het logo */
header section:nth-of-type(1) {
	font-size: 0.7em;
	z-index: 100;
	/* boven het uitschuifmenu */
	padding: .5em;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
	align-items: center;

	background-color: var(--color-background);
}




/************/
/* HET LOGO */
/************/

header section:nth-of-type(1) h1 img {
	height: .6em;
}




/**************************/
/* MENU OPENEN/SLUITEN */
/**************************/

/* de button */
header section:nth-of-type(1) button {

	order: -1;
	/* vooraan */
	padding: .5em;

	appearance: none;
	background-color: var(--color-background);
	border: none;
	border-radius: .25em;
	font: inherit;

	width: 3.5em;
}


/* het menu - dat schuift */
/* los niet meer in de eerste section */
header>nav ul {
	position: absolute;
	/* positioneren tov de header */
	top: 100%;
	left: 0;
	right: 0;

	/* background-color: white; */
	margin: 0;
	padding: 0;
	list-style: none;

	display: flex;
	flex-direction: column;
	gap: 1em;

	background-color: var(--color-background-menu-images);
	text-transform: uppercase;

	transform: translateY(-100%);
	transition: 1s;
}

header section:nth-of-type(1) nav ul li {
	width: 3.5em;
}


/* hier staat nu nog ul achter */
header>nav.menuGeopend ul {
	transform: translateY(0%);
}

/* het service menu - aan de rechterkant */
header section:nth-of-type(1) nav ul {
	margin: 0;
	padding: 0;
	list-style: none;

	display: flex;
	align-items: center;
}






/***********************/
/* SECTION 2 = RECLAME */
/***********************/

header section:nth-of-type(2) {
	/* boven het menu */
	position: relative;
	z-index: 100;
}

header section:nth-of-type(2) button {
	appearance: none;
	background-color: var(--color-background);
	border: none;
	border-radius: .25em;
	font: inherit;
	text-align: center;
	color: var(--color-text-black)
}

header section:nth-of-type(2) {
	padding: 0px 4em;
	background-color: var(--color-header-reclame);
	font-size: 0.7em;
	color: var(--color-header-reclame-text);
	text-transform: uppercase;

	display: flex;
	justify-content: space-around;
}

header section:nth-of-type(2) ul {
	padding: 0em 1em;
	list-style: none;
	font-size: .9em;

	display: flex;
	gap: 10em;
	justify-content: space-between;
}

header section:nth-of-type(2) button {
	padding: 0 2em;

	background-color: var(--color-header-reclame);
	color: var(--color-text-white);
}





/****************/
/* MAIN */
/****************/


/*********************/
/* SECTION 1 = NEW */
/*********************/


main section:nth-of-type(1) {
	display: grid;
	grid-template-rows: 1fr 5em;
}

main section:nth-of-type(1) h2 {
	padding: 0em;

	font-family: var(--type-font-special-headers);
	text-transform: none;
	font-weight: lighter;
	font-size: 3em;
	opacity: .8;

	grid-row-start: 1;
	grid-column-start: 1;

	align-self: end;
	justify-self: center;
	text-align: center;

	z-index: 90;
}

main section:nth-of-type(1) img {
	grid-area: 1/1/3/2;
}

main section:nth-of-type(1) p {
	padding: .4em .4em .4em;
	margin: 1em 1em 1em 1em;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);

	font-family: var(--type-font-headers);
	color: var(--color-text-black);
	text-transform: uppercase;
	font-size: .8em;
	background-color: var(--color-background);

	place-self: center;

	grid-row-start: 2;
	grid-column-start: 1;
}





/*********************/
/* SECTION 2 = BESTSELLERS */
/*********************/

main section:nth-of-type(2) {
	margin: 0em 0 3em;
}

main section:nth-of-type(2) li p:nth-of-type(1) {
	text-transform: uppercase;
	font-size: 1.5em;
	padding: 1.5em 1.2em;
}


main section:nth-of-type(2) ul {
	display: flex;
	justify-content: space-between;
	overflow-x: auto;
}


main section:nth-of-type(2) li {
	flex-shrink: 0;
	flex-basis: 70%;

	display: grid;
	grid-template-rows: 1fr min-content min-content;
}


main section:nth-of-type(2) h3 {
	padding: 0;
	margin: 1em 0em 0em;

	font-family: var(--type-font-headers);
	font-size: .9em;
	color: var(--color-text-black);
	text-transform: none;

	grid-row-start: 2;
	grid-column-start: 1;
	z-index: 90;

	justify-content: start;
	align-self: top;
}


main section:nth-of-type(2) li p:nth-of-type(1) {
	margin: 1em;
	padding: .3em 1em;

	font-family: var(--type-font-headers);
	font-size: .7em;
	text-transform: uppercase;
	color: var(--color-text-black);

	background-color: var(--color-tags);
	border-radius: 1.2em;

	grid-row-start: 1;
	grid-column-start: 1;
	z-index: 90;

	justify-self: start;
	align-self: start;
}


main section:nth-of-type(2) li p:nth-of-type(2) {
	padding: 0;

	font-size: .9em;
	color: var(--color-text-black);

	grid-row-start: 3;
	grid-column-start: 1;
	z-index: 90;
}

main section:nth-of-type(2) li img {
	width: 100%;
	height: 100%;

	background-color: var(--color-background-menu-images);

	object-fit: contain;
	object-position: center top;

	grid-area: 1/1/2/2;
	align-self: stretch;
}


/*********************/
/*  SECTION 3 - 7
LINK UNDERLINE - BRON SANNE
/*********************/

main section:nth-child(n+3) p:nth-of-type(2) {
	position: relative;
	width: fit-content;

	font-size: .8em;
	font-family: var(--type-font-headers);
	letter-spacing: .1em;
}

main section:nth-child(n+3) p:nth-of-type(2)::before {
	content: "";
	position: absolute;

	left: 0;
	right: 0;
	bottom: .6em;

	height: .25em;

	background-color: var(--color-underline-link);
	border-radius: .125em;

	transform-origin: right;
	transform: scalex(0);
	transition: transform .3s;
}

main section:nth-child(n+3) p:nth-of-type(2):visited {
	color: var(--color-underline-link);
}

main section:nth-child(n+3) p:nth-of-type(2):focus-visible {
	background: var(--color-underline-link);
}

main section:nth-child(n+3) p:nth-of-type(2):hover::before {
	transform-origin: left;
	transform: scalex(1);
}

main section:nth-child(n+3) p:nth-of-type(2):active {
	color: var(--color-header);
}


/*********************/
/*  SECTION 3 = ONS VERHAAL */
/*********************/

main section:nth-of-type(3) h2 {
	font-size: 1.9em;
	line-height: 1em;
}

main section:nth-of-type(3) p:nth-of-type(1) {
	padding: 0 1.8em 0;
	margin: 0 0 1.5em;
}


main section:nth-child(3) p:nth-of-type(2) {
	padding:0;
	padding-bottom: 1em;
	margin-left: 2.1em;
	margin-bottom: 7em;
}






/*********************/
/* SECTION 4 = VOOR HEM  */
/*********************/

main section:nth-of-type(4) {
	text-align: center;
}

main section:nth-of-type(4) h2+p {
	margin-top: .5em;
	padding: 0em 4em 2em;
}

main section:nth-of-type(4) h2 {
	padding: 1.5em 0em 1em;

	font-size: 1.6em;
}

main section:nth-child(4) p:nth-of-type(2) {
	padding:0;
	padding-bottom: 1em;
	margin-bottom: 7em;
	margin-left: 40%;


}



/*********************/
/* SECTION 5 = KIDS  */
/*********************/

main section:nth-of-type(5) h2 {
	padding: 1.2em 0.7em 0em;

	font-family: var(--type-font-special-headers);
	font-size: 2.5em;
	font-weight: 100;
	text-transform: none;
	color: var(--color-text-pink);
}

main section:nth-of-type(5) p:nth-of-type(1) {
	padding: 1.8em;
}


main section:nth-of-type(5) p:nth-of-type(2) {
	padding:0;
	padding-bottom: 1em;
	margin-left: 2.1em;
	margin-bottom: 10em;
}

main section:nth-of-type(5) img {
	margin: 0em 4em 0em;
	max-width: 60%;

}

/*********************/
/* SECTION 6 = INSTAGRAM */
/*********************/
main section:nth-of-type(6) h2 {
	text-align: center;
}

main section:nth-of-type(6) p {
	text-align: center;
}

main section:nth-of-type(6) p a {
	border-bottom: .2em solid var(--color-underline-link);
	font-size: .8em;
	font-family: var(--type-font-headers);
	letter-spacing: .1em;
}

main section:nth-of-type(6) ul {
	display: flex;
	justify-content: space-between;
	overflow-x: auto;
}

main section:nth-of-type(6) ul li {
	flex-shrink: 0;
	flex-basis: 70%;
}

/*********************/
/* SECTION 7 = HANDGEMAATE SIERADEN */
/*********************/
main section:nth-of-type(7) h2 {
	padding: 2em 0em 0.1em;
	text-align: center;

	font-size: 1.3em;
	letter-spacing: 1px;
}

main section:nth-of-type(7) p {
	margin-bottom: 2em;
	text-align: center;
}

/****************/
/* FOOTER */
/****************/

footer {
	background-color: #fff6e8;
}

footer section h2 {
	padding-bottom: .2em;
	margin: 0;
	font-size: 1em;
	letter-spacing: 1px;

}

footer section li {
	margin: 0;
	padding: 0;
	line-height: 2.5em;
	font-size: .9em;
}

footer section li a {
	text-transform: none;
}